<h2>Create an Author</h2>
<%= form_for @author do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <%= f.submit "Create Author" %>
<% end %>
